In [2]:
import pandas as pd
import matplotlib
import sklearn

In [24]:
mvp = pd.read_csv("mvp.csv")

mvp.columns = mvp.iloc[0]

mvp = mvp[1:].reset_index(drop=True)
mvp

,Season,Lg,Player,Voting,Age,Tm,G,MP,PTS,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,-9999
0,2023-24,NBA,Nikola Jokić,(V),28,DEN,79,34.6,26.4,12.4,9.0,1.4,0.9,.583,.359,.817,17.0,.299,jokicni01
1,2022-23,NBA,Joel Embiid,(V),28,PHI,66,34.6,33.1,10.2,4.2,1.0,1.7,.548,.330,.857,12.3,.259,embiijo01
2,2021-22,NBA,Nikola Jokić,(V),26,DEN,74,33.5,27.1,13.8,7.9,1.5,0.9,.583,.337,.810,15.2,.296,jokicni01
3,2020-21,NBA,Nikola Jokić,(V),25,DEN,72,34.6,26.4,10.8,8.3,1.3,0.7,.566,.388,.868,15.6,.301,jokicni01
4,2019-20,NBA,Giannis Antetokounmpo,(V),25,MIL,63,30.4,29.5,13.6,5.6,1.0,1.0,.553,.304,.633,11.1,.279,antetgi01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,1959-60,NBA,Wilt Chamberlain,(V),23,PHW,72,46.4,37.6,27.0,2.3,NaN,NaN,.461,NaN,.582,17.0,.245,chambwi01
65,1958-59,NBA,Bob Pettit,(V),26,STL,72,39.9,29.2,16.4,3.1,NaN,NaN,.438,NaN,.759,14.8,.246,pettibo01
66,1957-58,NBA,Bill Russell,(V),23,BOS,69,38.3,16.6,22.7,2.9,NaN,NaN,.442,NaN,.519,11.3,.206,russebi01
67,1956-57,NBA,Bob Cousy,(V),28,BOS,64,36.9,20.6,4.8,7.5,NaN,NaN,.378,NaN,.821,8.8,.178,cousybo01
68,1955-56,NBA,Bob Pettit,(V),23,STL,72,38.8,25.7,16.2,2.6,NaN,NaN,.429,NaN,.736,13.8,.236,pettibo01

In [27]:
mvp["Age"] = pd.to_numeric(mvp["Age"], errors="coerce")
mvp["G"] = pd.to_numeric(mvp["G"], errors="coerce")
mvp["MP"] = pd.to_numeric(mvp["MP"], errors="coerce")
mvp["PTS"] = pd.to_numeric(mvp["PTS"], errors="coerce")
mvp["TRB"] = pd.to_numeric(mvp["TRB"], errors="coerce")
mvp["AST"] = pd.to_numeric(mvp["AST"], errors="coerce")
mvp["STL"] = pd.to_numeric(mvp["STL"], errors="coerce")
mvp["BLK"] = pd.to_numeric(mvp["BLK"], errors="coerce")
mvp["FG%"] = pd.to_numeric(mvp["FG%"], errors="coerce")
mvp["3P%"] = pd.to_numeric(mvp["3P%"], errors="coerce")
mvp["FT%"] = pd.to_numeric(mvp["FT%"], errors="coerce")
mvp["WS"] = pd.to_numeric(mvp["WS"], errors="coerce")
mvp["WS/48"] = pd.to_numeric(mvp["WS/48"], errors="coerce")
mvp.dtypes

0
Season     object
Lg         object
Player     object
Voting     object
Age         int64
Tm         object
G           int64
MP        float64
PTS       float64
TRB       float64
AST       float64
STL       float64
BLK       float64
FG%       float64
3P%       float64
FT%       float64
WS        float64
WS/48     float64
-9999      object
dtype: object

In [28]:
mvp.describe()

,Age,G,MP,PTS,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48
count,69.000000,69.000000,69.000000,69.000000,69.000000,69.000000,51.000000,51.000000,69.000000,45.000000,69.000000,69.000000,69.000000
mean,27.159420,77.318841,38.814493,26.191304,12.185507,5.663768,1.509804,1.350980,0.509420,0.288267,0.758362,15.900000,0.254246
std,2.867789,6.472777,3.748383,5.149064,6.045374,2.705711,0.540465,1.066091,0.052868,0.138517,0.121005,3.360016,0.041898
min,22.000000,49.000000,30.400000,13.800000,3.300000,1.300000,0.500000,0.100000,0.378000,0.000000,0.380000,8.400000,0.168000
25%,25.000000,76.000000,36.600000,23.900000,7.400000,3.800000,1.050000,0.600000,0.480000,0.247000,0.710000,13.800000,0.224000
50%,27.000000,80.000000,38.300000,26.400000,10.800000,5.000000,1.500000,0.900000,0.509000,0.330000,0.779000,15.700000,0.252000
75%,29.000000,82.000000,41.000000,29.700000,15.300000,7.300000,1.800000,1.900000,0.539000,0.388000,0.848000,17.800000,0.285000
max,35.000000,82.000000,47.300000,37.600000,27.000000,12.800000,3.200000,4.100000,0.683000,0.454000,0.921000,25.400000,0.340000

In [29]:
mvp = mvp.dropna()
mvp = mvp.fillna(0)

In [30]:
mvp.describe()

,Age,G,MP,PTS,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48
count,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000
mean,27.800000,77.333333,37.208889,27.020000,9.011111,6.284444,1.551111,1.155556,0.514244,0.288267,0.812467,15.768889,0.263556
std,2.768327,6.581655,2.524230,3.721107,3.312526,2.733293,0.558660,0.924553,0.040744,0.138517,0.077646,2.681233,0.036880
min,22.000000,49.000000,30.400000,15.500000,3.300000,1.300000,0.500000,0.100000,0.420000,0.000000,0.524000,9.600000,0.190000
25%,26.000000,76.000000,35.400000,24.600000,6.300000,4.300000,1.100000,0.500000,0.495000,0.247000,0.767000,14.300000,0.238000
50%,28.000000,80.000000,37.500000,27.100000,8.900000,5.900000,1.600000,0.900000,0.512000,0.330000,0.817000,15.700000,0.268000
75%,29.000000,81.000000,38.800000,29.700000,11.900000,7.700000,1.800000,1.500000,0.535000,0.388000,0.868000,17.700000,0.295000
max,35.000000,82.000000,42.000000,35.000000,15.300000,12.800000,3.200000,3.700000,0.604000,0.454000,0.921000,21.200000,0.322000